body {
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Montserrat';
  font-size: 50px;
  color: black;
}

#title {
  background: linear-gradient(rgba(0, 0, 0, 0), #FA7070), url(https://www.vbgov.com/government/departments/libraries/digital/Digital%20Library%20Headlines/job%20resources.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.title-text {
  margin-top: 150px;
}

.title-image {
  margin-top: 250px;
  height: 60%;
  position: relative;
  bottom: 25%
}

.download-button {
  /* top right left bottom */
  margin: 15% 3% 15% 0;
}

.nav-item {
  padding: 0 18px;
}

.container {
  padding: 5% 25%;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  margin-top: 10px
}

.nav-link {
  margin-top: 10px
}

#feature {
  width: 100%;
  padding: 70px 0;
}

.feature-text {
  text-align: center;
  padding-bottom: 70px
}

.feature-text p {
  margin: auto;
  font-size: 20px;
  color: #FA7070;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.feature-text p::after {
  content: '';
  width: 50px;
  height: 35px;
  background: linear-gradient(#FA7070, #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.feature-heading {
  font-size: 50px;
}

.first {
  position: relative;
  top: 100px;
}

.first-feature-image {
  position: relative;
  bottom: 20px;
  border-radius: 10%;
}

.second-image {
  border-radius: 10%;
  position: relative;
}

.second {
  position: relative;
  top: 100px;
}

.third-image {
  border-radius: 10%;
  position: relative;
}

.third {
  position: relative;
  top: 100px;
}

.fourth-image {
  height: 150%;
  position: relative;
  bottom: 100px;
  border-radius: 10%;
}

.fourth {
  position: relative;
  top: 100px;
}

.fifth-image {
  height: 90%;
  border-radius: 10%;
  position: relative;
}

.fifth {
  position: relative;
  top: 100px;
}

.bottom-container {
  background-color: #FA7070;
  padding: 150px 0 50px;
  text-align: center;
}

.footer-link {
  padding: 20px;
}

.contact-me {
  text-align: center;
  margin: 30px auto 70px;
  position: relative;
  bottom: 40px;
}

.btn {
  position: relative;
  top: 10px;
}
.form-control{
  position: relative;
  top: 10px;
}
.contact-button{
  position: relative;
  top: 50px;
}
